* {
  margin: 0;
  padding: 0;
}

body {
  background: url('./images/background.png');
  background-size: 100%;
  height: 100vh;
}

.logo {
  margin-bottom: 10px;
  margin-top: 55px;
  width: 40%;
}

.logo-questions {
  height: 222px;
  margin-top: 15px;
  width: 197.09px;
}

.icone-questions {
  bottom: 0;
  height: 42.26px;
  margin-bottom: 80px;
  position: absolute;
  width: 37px;
  z-index: 1;
}

.div-questions {
  background: url('./images/background1.png');
  background-size: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
}

.imgs {
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  width: 40%;
}

.icone {
  width: 6%;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .logo, .logo-questions {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.pre-answers {
  align-items: center;
  border: 0;
  border-radius: 100px;
  box-shadow: 0 0 5px 2px rgb(156, 156, 156);
  display: flex;
  height: 64px;
  margin: 10px;
  padding-left: 10px;
  text-align: left;
  width: 519px;
}

.incorrect {
  border: 3px solid red;
  border-radius: 100px;
  box-shadow: 0 0 10px 5px red;
  height: 64px;
  margin: 10px;
  width: 519px;
}

.correct {
  border: 3px solid rgb(6, 240, 15);
  border-radius: 100px;
  box-shadow: 0 0 10px 5px rgb(6, 240, 15);
  height: 64px;
  margin: 10px;
  width: 519px;
}

.incorrect:disabled, .correct:disabled {
  background-color: white;
  color: black;
}


.answers {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.img-answer {
  margin-right: 20px;
}

.frase {
  font-family: ' Times New Roman' , Times , serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 150%;
}

.next {
  background: #2fc18c;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: ' Gill Sans' , ' Gill Sans MT' , Calibri , ' Trebuchet MS' , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  height: 45px;
  letter-spacing: 0.12em;
  line-height: 150%;
  margin-top: 20px;
  width: 519px;
  z-index: 1;
}

.questions {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px rgb(156, 156, 156);
  display: flex;
  flex-flow: column wrap;
  height: 326px;
  justify-content: space-between;
  margin: 20px;
  margin-top: 65px;
  width: 500px;
  z-index: 1;
}

.category {
  align-items: center;
  background-color: #00d5e2;
  border-radius: 100px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 45px;
  justify-content: center;
  width: 413px;
}

.question {
  align-items: center;
  font-family: ' Times New Roman' , Times , serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0 20px;
  text-align: center;
}

.container {
  margin: auto;
  text-align: center;
  width: fit-content;
}

.form {
  background: white;
  border-radius: 10px;
  box-shadow: 1px 4px 13px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  height: 280px;
  justify-content: center;
  margin-bottom: 50px;
  padding-bottom: 30px;
  padding-top: 50px;
  width: 815px;
}

.login {
  display: flex;
  flex-flow: column;
  gap: 20px;
  margin: auto;
  text-align: center;
}

.email, .name {
  font-size: large;
  padding: 16px;
  width: 650px;
}

.settings, .play {
  border: 0;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: x-large;
  font-weight: 900;
  height: 60px;
  width: 335px;
}

.settings-button {
  background-color: white;
  border: 0;
  margin-right: 100px;
}

.play {
  background-color: #2fc18c;
  color: white;
}

.play:hover {
  background-color: #29a074;
}

header {
  align-items: center;
  background-color: white;
  display: flex;
  height: 113px;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
}

footer {
  background-color: #3c1b7a;
  bottom: 0;
  height: 166px;
  position: absolute;
  width: 100%;
}

.gravatar {
  border-radius: 18.137px;
  height: 37px;
  margin-right: 10px;
  width: 37px;
}

.name-header {
  margin-right: 100px;
}

.score {
  margin-right: 100px;
}

.star {
  margin-right: 10px;
}

.timer {
  color: #ea5d5d;
  font-family: Verdana , Geneva , Tahoma , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.12em;
  line-height: 150%;
  margin-bottom: 25px;
}

@media screen and ( max-width : 1600px ) {

  .logo {
    margin-top: 5%;
    width: 30%;
  }

  .form {
    height: 250px;
    width: 615px;
  }

  .name, .email {
    font-size: medium;
    width: 480px;
  }

  .play, .settings {
    width: 250px;
  }

  .questions {
    height: 286px;
    margin: 20px;
    width: 439px;
  }

  .question {
    font-size: 18px;
  }

  .answers {
    margin-top: 80px;
  }
}
